body{
  background-color:black
}
#list{
  display:flex;
    background-color:#ADFF2F;
  font-family: 'Rozha One', serif;
}
#gallery{
  text-align:center
}
#buttons{
  text-align:center;
}
#info{
  color:#ADFF2F;
 font-family: 'Rozha One', serif;
}
#past{
  background-color:black;
  color:#ADFF2F;
 font-family: 'Rozha One', serif;;
}
.hidden{
  visibility: hidden;
 }
#right{
  text-align:center
}
#rm{
  text-align:center;
    display:flex
}
