body{
  background-color:black;
   color:#ADFF2F;
   font-family: 'Bitter', serif;
}
#list{
  display:flex;
    background-color:#ADFF2F;
 font-family: 'Bitter', serif;
}
#slideshow{ 
  text-align:center
}
#buttons{
  text-align:center;
}
#info{
  color:#ADFF2F;
   font-family: 'Bitter', serif;
}
#past{
  background-color:black;
  color:#ADFF2F;
 font-family: 'Bitter', serif;
}
.hidden{
  visibility: hidden;
 }
#right{
  text-align:center
}
#rm{
  text-align:center;
    display:flex
}
.container{
   color:#ADFF2F;
   font-family: 'Bitter', serif;
}
